.pago {
    display: flex;
    justify-content: center;
    border: solid;
    border-style: .5px;
    border-width: 0px 1px 0px 1px;
    .metodo-de-pago {
        display: flex;
        justify-content: center;
        border: solid;
        border-style: .5px;
        border-width: 0px 1px 1px 1px;
        padding-left: 35px;
        a {
           text-decoration: none;
        }
        @media (min-width: 360px) and (max-width: 375px) {
         justify-content: center;
         margin: 200px 100px; 
        }
    }
}
.boton-- {
    display: flex;
    justify-content: center;
    background-color: #ffffff00;
    padding: 5px 137.5px 5px 137.5px;
}
.boton {
    display: flex;
    justify-content: center;
    align-items: auto;
    padding: 5px 5px 5px 5px;
    a{
        text-decoration: none;
    }
}