.img {
    display: flex;
    justify-content: center;
    .img-n-1 > .img-n-2 {
        width: 450px;
        height: 350px;
    }
    .img-d-1-zona {
        width: 550px;
        height: 350px;
    }
}
.imgPresentacion {
    padding: 50px;
    margin: 20px;
    display: block;
    justify-content: center;
    @media (max-width: 450px) {
      justify-content:center;
      padding: 1px;
      margin: 10px;
    }
    .img-n-2 {
        @media (min-width: 361px) and (max-width: 375px) {
            width: 320px;
            height: 300px;
        }
        @media (min-width: 640px) and (max-width: 811px) {
            width: 650px;
            height: 550px;
            left: -25px;
        }
        @media (min-width: 428px) and (max-width: 1024px) {
            width: 550px;
            height: 500px;
        }
        @media (min-width: 376px) and (max-width: 428px) {
            width: 350px;
            height: 300px;
        }
        @media (max-width: 360px) {
            margin-top: 10px;
            padding: 0px 15px 0px 0px;
            width: 300px;
            height: 250px;
        }
    }
}
img{
    background-image: url(../assets/img/logo\ 1.png);
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
}
.card {
    padding-top: 35px;
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.card- {
    @extend %tarjeta;
    @media (max-width: 450px) {
        margin: 30px;
        padding-right: auto;
    }
    @media (min-width: 768px) {
        margin: 0px 40px 50px 0px;
    }
    @media (max-width: 640px) {
        margin: 0px 40px 50px 0px;
    }
    &:hover {
        border: solid rgb(46, 58, 167) 2px;
    }
    hr {
        width: 100%;
        height: 4px;
        background: black;
    }
}
.mapa {
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    @media (min-width: 360px) and (max-width: 428px) {
        justify-content: center;
        padding: 20px;
    }
    @media (min-width: 360px){
        padding: 20px;
    }
}
.carrito {
    display: flex;
    padding: 0px 0px 0px 1150px;
    @media (min-width: 429px) and (max-width: 768px) {
        padding: 0px 0px 0px 680px;
    }
    @media (min-width: 361px) and (max-width: 375px) {
        padding: 0px 0px 0px 300px;
    }
    @media (min-width: 376px) and (max-width: 428px) {
        padding: 0px 0px 0px 355px;
    }
    @media (max-width: 360px) {
        padding: 0px 0px 0px 290px;
    }
}
.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 60px;
    padding-left: 60px;
    &:hover {
        width: 100%;
        height: 100%;
        transition: 0.5s;
        object-fit: cover;
        transform: scale(1.5);
    }
}
.redes- {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 0px;
}
.sk-ww-google-reviews {
    display: flex;
    margin-top: 25px;
}
